body {
	background-color: #f5f5f5;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
}


h1 {
	color: #F5F5F5;
	background-color: #2196f3;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}


h2 {
	color: #F5F5F5;
	background-color: #2196f3;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
}


h3 {
	color: #2196f3;
	background-color: #f5f5f5;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}


p {
	background-color: #f5f5f5;
	color: #1565c0;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
