:: Font Lato Light 300
:: Light 300 = Normal (font-size = 12)
:: Bold 700 = H1 (font-size = 16)
:: Bold 700 = H2 (font-size = 14)
:: Normal 400 = H1

:: <link href='http://fonts.googleapis.com/css?family=Oswald:300,700,400' rel='stylesheet' type='text/css'>


body {
	background-color: #F44336;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #FF8A80;
}


h1 {
	background-color: #EF9A9A;
	color: #FF4081;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-align: center;
}

h2 {
	background-color: #EF9A9A;
	color: #FF4081;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-align: center;
}


p {
	background-color: #EF9A9A;
	color: #FF4081;
	font-family: "";
	font-size: 20px;
}

